<h2>Methods that were not run</h2><table>
<tr><td>com.seleium.test.Project1.testPro2</td></tr>
<tr><td>com.seleium.test.Project1.testPro3</td></tr>
<tr><td>com.seleium.test.Project1.testPro11</td></tr>
<tr><td>com.seleium.test.Project1.testPro10</td></tr>
<tr><td>com.seleium.test.Project1.testPro6</td></tr>
<tr><td>com.seleium.test.Project1.testPro7</td></tr>
<tr><td>com.seleium.test.Project1.testPro63</td></tr>
<tr><td>com.seleium.test.Project1.testPro8</td></tr>
<tr><td>com.seleium.test.Project1.testPro62</td></tr>
<tr><td>com.seleium.test.Project1.testPro9</td></tr>
<tr><td>com.seleium.test.Project1.testPro61</td></tr>
<tr><td>com.seleium.test.Project1.testPro1</td></tr>
</table>