<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>song song</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@769f71a9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:18</td>   <td>8820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@769f71a9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:11</td>   <td>-58488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro1()[pri:1, instance:com.seleium.test.parallel@769f71a9]">testPro1</td> 
  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@769f71a9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@769f71a9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:18</td>   <td>8820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@769f71a9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:24</td>   <td>-44946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro2()[pri:2, instance:com.seleium.test.parallel@769f71a9]">testPro2</td> 
  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:56</td>   <td>-13205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro4()[pri:4, instance:com.seleium.test.parallel@769f71a9]">testPro4</td> 
  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:18</td>   <td>8820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@769f71a9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:18</td>   <td>8820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@769f71a9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:46</td>   <td>-22579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro3()[pri:3, instance:com.seleium.test.parallel@769f71a9]">testPro3</td> 
  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:10</td>   <td>1061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro5()[pri:5, instance:com.seleium.test.parallel@769f71a9]">testPro5</td> 
  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:18</td>   <td>8820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@769f71a9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@769f71a9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@769f71a9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2143058570</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:21:58</td>   <td>108676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@795cd85e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:16</td>   <td>-53260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro6()[pri:6, instance:com.seleium.test.parallel@795cd85e]">testPro6</td> 
  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:09</td>   <td>120275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:09</td>   <td>120275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:21:58</td>   <td>108676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@795cd85e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:09</td>   <td>120275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:21:58</td>   <td>108676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@795cd85e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:35</td>   <td>25598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro62()[pri:8, instance:com.seleium.test.parallel@795cd85e]">testPro62</td> 
  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:19:31</td>   <td>-38456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro61()[pri:7, instance:com.seleium.test.parallel@795cd85e]">testPro61</td> 
  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:20:52</td>   <td>43052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro63()[pri:9, instance:com.seleium.test.parallel@795cd85e]">testPro63</td> 
  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:21:58</td>   <td>108676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@795cd85e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:09</td>   <td>120275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:03</td>   <td>114101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro7()[pri:10, instance:com.seleium.test.parallel@795cd85e]">testPro7</td> 
  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:22:09</td>   <td>120275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.seleium.test.parallel@795cd85e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>21/04/23 12:21:58</td>   <td>108676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.seleium.test.parallel@795cd85e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1916249058</td>   <td></td> </tr>
</table>
