<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.seleium.test.Project1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPro61</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro62</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro63</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPro7</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
