<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ebf60">  <td>21/04/26 09:18:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1d119efb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@461160828</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>21/04/26 09:18:06</td>   <td>-10619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1d119efb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@461160828</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>21/04/26 09:18:10</td>   <td>-5992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro6()[pri:6, instance:com.seleium.test.Project1@1d119efb]">testPro6</td> 
  <td>main@461160828</td>   <td></td> </tr>
</table>
