<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite11</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8e6b">  <td>21/04/19 15:18:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1072410641</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/19 15:18:18</td>   <td>-19405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1072410641</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/19 15:18:19</td>   <td>-17640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro11()[pri:14, instance:com.seleium.test.Project1@1184ab05]">testPro11</td> 
  <td>main@1072410641</td>   <td></td> </tr>
</table>
