<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:33:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Project1.afterMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:56</td>   <td>-27636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Project1.beforeMethod()[pri:0, instance:com.seleium.test.Project1@1184ab05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:27:12</td>   <td>-371648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro1()[pri:1, instance:com.seleium.test.Project1@1184ab05]">testPro1</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:31:09</td>   <td>-134508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro10()[pri:13, instance:com.seleium.test.Project1@1184ab05]">testPro10</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:31:40</td>   <td>-103383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro11()[pri:14, instance:com.seleium.test.Project1@1184ab05]">testPro11</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:11</td>   <td>-72008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro12()[pri:15, instance:com.seleium.test.Project1@1184ab05]">testPro12</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:41</td>   <td>-42473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro13()[pri:16, instance:com.seleium.test.Project1@1184ab05]">testPro13</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:32:57</td>   <td>-26415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro14()[pri:17, instance:com.seleium.test.Project1@1184ab05]">testPro14</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:27:24</td>   <td>-359255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro2()[pri:2, instance:com.seleium.test.Project1@1184ab05]">testPro2</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:27:41</td>   <td>-341939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro3()[pri:3, instance:com.seleium.test.Project1@1184ab05]">testPro3</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:27:53</td>   <td>-329992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro4()[pri:4, instance:com.seleium.test.Project1@1184ab05]">testPro4</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:28:06</td>   <td>-316904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro5()[pri:5, instance:com.seleium.test.Project1@1184ab05]">testPro5</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:28:17</td>   <td>-305884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro6()[pri:6, instance:com.seleium.test.Project1@1184ab05]">testPro6</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:28:31</td>   <td>-292186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro61()[pri:7, instance:com.seleium.test.Project1@1184ab05]">testPro61</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:29:33</td>   <td>-230584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro62()[pri:8, instance:com.seleium.test.Project1@1184ab05]">testPro62</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:29:51</td>   <td>-212276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro63()[pri:9, instance:com.seleium.test.Project1@1184ab05]">testPro63</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:30:08</td>   <td>-195279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro7()[pri:10, instance:com.seleium.test.Project1@1184ab05]">testPro7</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:30:31</td>   <td>-172170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro8()[pri:11, instance:com.seleium.test.Project1@1184ab05]">testPro8</td> 
  <td>main@2005169944</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>21/04/22 17:30:50</td>   <td>-153107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Project1.testPro9()[pri:12, instance:com.seleium.test.Project1@1184ab05]">testPro9</td> 
  <td>main@2005169944</td>   <td></td> </tr>
</table>
